absl-py==0.13.0
addr==0.0.1
ads==0.12.3
aio-pika==6.8.2
aiofiles==0.8.0
aiohttp==3.7.4
aiormq==3.3.1
aiosignal==1.2.0
anyio==3.6.1
appnope==0.1.3
APScheduler==3.7.0
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arr==0.2.1
Arrays==0.0.5
asgiref==3.5.2
astropy==5.1
astroquery==0.4.6
asttokens==2.0.5
astunparse==1.6.3
async-generator==1.10
async-timeout==3.0.1
attrs==21.2.0
autograd==1.4
backcall==0.2.0
Beaker==1.11.0
beautifulsoup4==4.10.0
bidict==0.21.4
black==22.3.0
bleach==4.1.0
blis==0.7.5
bokeh==2.4.3
boto3==1.20.48
botocore==1.23.48
buf==1.0.0
cachetools==5.0.0
catalogue==1.0.0
certifi==2021.10.8
cffi==1.15.0
cfractions==2.1.0
chardet==3.0.4
charset-normalizer==2.0.11
click==8.0.3
cloudpickle==1.6.0
colorclass==2.2.2
coloredlogs==15.0.1
colorhash==1.0.4
ConfigUpdater==3.1
console==0.9907
cryptography==36.0.1
cssselect==1.1.0
cycler==0.11.0
cymem==2.0.6
d==0.2.2
datasets==2.0.0
de-core-news-sm @ https://github.com/explosion/spacy-models/releases/download/de_core_news_sm-2.3.0/de_core_news_sm-2.3.0.tar.gz
debugpy==1.6.0
decorator==4.4.2
defusedxml==0.7.1
dendroid==1.4.0
dialogue-bot @ file:///Users/alexanderlontke/Documents/Uni/St.%20Gallen/SS_22/NLP/2022-NLP-Project/bot/dialogue-bot-master
dill==0.3.4
dm-tree==0.1.6
dnspython==1.16.0
doc==0.1.0
docopt==0.6.2
docstring-parser==0.14.1
eleanor==0.2.7
emoji==1.7.0
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.3.1/en_core_web_sm-2.3.1.tar.gz
entrypoints==0.4
everest-pipeline==2.0.12
executing==0.8.3
ezenv==0.92
fastapi==0.78.0
fastjsonschema==2.15.3
fbmessenger==6.0.0
fbpca==1.0
filelock==3.4.2
fitsio==1.1.7
fmt==0.3.1
frozenlist==1.3.0
fsspec==2022.3.0
future==0.18.2
gast==0.3.3
gbq==0.5.0
gensim==4.1.2
george==0.4.0
google-api-core==2.8.2
google-auth==2.6.0
google-auth-oauthlib==0.4.6
google-cloud-bigquery==3.2.0
google-cloud-bigquery-storage==2.13.2
google-cloud-core==2.3.1
google-crc32c==1.3.0
google-pasta==0.2.0
google-resumable-media==2.3.3
googleapis-common-protos==1.56.2
greenlet==1.1.2
grid==0.7.1
ground==8.2.0
grpcio==1.46.3
grpcio-status==1.46.3
h11==0.9.0
h5py==2.10.0
html5lib==1.1
httpcore==0.11.1
httplib2==0.20.4
httpretty==0.8.10
httptools==0.3.0
httpx==0.15.4
huggingface==0.0.1
huggingface-hub==0.4.0
humanfriendly==10.0
hupper==1.10.3
idna==3.3
importlib-metadata==4.10.1
importlib-resources==5.6.0
iniconfig==1.1.1
ipykernel==6.12.1
ipython==8.2.0
ipython-genutils==0.2.0
ipywidgets==7.7.0
jedi==0.18.1
Jinja2==3.1.1
jmespath==0.10.0
joblib==1.0.1
jsonpickle==2.0.0
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==7.2.1
jupyter-console==6.4.3
jupyter-core==4.9.2
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.1.0
k2plr==0.2.9
kafka-python==2.0.2
Keras-Preprocessing==1.1.2
keyring==23.6.0
kiwisolver==1.3.2
kwargs==1.0.1
len==0.1.0
lightkurve==2.2.1
lxml==4.9.0
Mako==1.2.0
Markdown==3.3.6
MarkupSafe==2.1.1
matplotlib==3.3.4
matplotlib-inline==0.1.3
mattermostwrapper==2.2
max==3.6
memoization==0.4.0
mistune==0.8.4
mock==4.0.3
mplcursors==0.5.1
muchbettermoments==1.0.0
multidict==5.2.0
multiprocess==0.70.12.2
murmurhash==1.0.6
mypy-extensions==0.4.3
nbclient==0.5.13
nbconvert==6.4.5
nbformat==5.3.0
nest-asyncio==1.5.5
networkx==2.5.1
nltk==3.6.3
notebook==6.4.10
numpy==1.18.5
oauth2client==4.1.3
oauthlib==3.2.0
oktopus==0.1.2
opt-einsum==3.3.0
orient==6.1.0
osiris==1.4
packaging==20.9
pamqp==2.3.0
pandas==1.4.0
pandocfilters==1.5.0
parso==0.8.3
Paste==3.5.0
PasteDeploy==2.1.1
pathspec==0.9.0
patsy==0.5.2
pexpect==4.8.0
photutils==1.4.0
pickleshare==0.7.5
pika==1.2.1
Pillow==9.0.1
plac==1.1.3
plaster==1.0
plaster-pastedeploy==0.7
platformdirs==2.5.1
plotly==5.5.0
pluggy==1.0.0
preshed==3.0.6
prioq==0.5.0
prometheus-client==0.13.1
prompt-toolkit==2.0.10
properties==0.6.1
proto-plus==1.20.6
protobuf==3.19.4
psutil==5.9.0
psycopg2-binary==2.9.3
ptyprocess==0.7.0
pure-eval==0.2.2
py==1.11.0
pyarrow==7.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
pydantic==1.9.1
pydot==1.4.2
pyerfa==2.0.0.1
Pygments==2.11.2
PyJWT==2.3.0
pykwalify==1.8.0
pymongo==3.10.1
pyparsing==3.0.7
PyPDF2==2.3.1
pyquery==1.4.3
pyramid==2.0
pyramid-debugtoolbar==4.9
pyramid-mako==1.1.0
pyramid-tm==2.5
pyramid-who==0.3
pyrsistent==0.18.1
pysyzygy==0.0.2
pyTelegramBotAPI==3.8.3
pytest==6.2.5
python-crfsuite==0.9.7
python-dateutil==2.8.2
python-dotenv==0.20.0
python-engineio==4.3.1
python-socketio==5.5.1
pytz==2021.3
pyvo==1.3
PyYAML==6.0
pyzmq==22.3.0
qtconsole==5.3.0
QtPy==2.0.1
questionary==1.9.0
range==1.0.0
rasa==2.8.5
rasa-sdk==2.8.4
redis==3.5.3
regex==2021.7.6
repoze.lru==0.7
repoze.who==2.4.1
reprit==0.8.0
requests==2.27.1
requests-oauthlib==1.3.1
requests-toolbelt==0.9.1
responses==0.18.0
rets==1.0.0
rfc3339==6.2
rfc3986==1.5.0
rocketchat-API==1.16.0
rsa==4.8
ruamel.yaml==0.16.13
ruamel.yaml.clib==0.2.6
s3transfer==0.5.1
sacremoses==0.0.47
sanic==20.12.5
Sanic-Cors==0.10.0.post3
sanic-jwt==1.5.0
Sanic-Plugins-Framework==0.9.5
scikit-learn==0.24.2
scipy==1.7.3
seaborn==0.11.2
self==2020.12.3
Send2Trash==1.8.0
sentence-transformers==2.1.0
sentencepiece==0.1.96
sentry-sdk==1.2.0
setuptools-scm==6.4.2
shewchuk==6.3.0
six==1.16.0
sklearn==0.0
sklearn-crfsuite==0.3.6
slackclient==2.9.3
smart-open==5.2.1
sniffio==1.2.0
sorted==0.1.0
soupsieve==2.3.1
spacy==2.3.5
SQLAlchemy==1.4.31
srsly==1.0.5
stack-data==0.2.0
stanza==1.3.0
starlette==0.19.1
symba==1.2.1
tabulate==0.8.2
tenacity==8.0.1
tensorboard==2.8.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.3.4
tensorflow-addons==0.13.0
tensorflow-estimator==2.3.0
tensorflow-hub==0.12.0
tensorflow-probability==0.13.0
tensorflow-text==2.3.0
termcolor==1.1.0
terminado==0.13.3
terminaltables==3.1.10
tess-point==0.7.1
testpath==0.6.0
texttable==1.6.4
thinc==7.4.5
threadpoolctl==3.1.0
tokenizers==0.11.4
toml==0.10.2
tomli==2.0.1
tomlkit==0.10.1
torch==1.10.2
torchvision==0.11.3
tornado==6.1
tqdm==4.62.3
traitlets==5.1.1
transaction==3.0.1
transformers==4.16.2
translationstring==1.4
tweepy==4.10.0
twilio==6.50.1
typeguard==2.13.3
typing_extensions==4.2.0
tzlocal==2.1
ujson==4.3.0
uncertainties==3.1.7
urllib3==1.26.8
uvicorn==0.17.6
uvloop==0.14.0
vaneska==0.0.dev0
venusian==3.0.0
waitress==2.1.2
wasabi==0.9.0
watchgod==0.8.2
wcwidth==0.2.5
webencodings==0.5.1
webexteamssdk==1.6
WebOb==1.8.7
websockets==9.1
Werkzeug==2.0.2
Whoosh==2.7.4
widgetsnbextension==3.6.0
wrapt==1.13.3
xlrd==1.2.0
xmltodict==0.13.0
xxhash==3.0.0
yarl==1.7.2
zipp==3.7.0
zope.deprecation==4.4.0
zope.interface==5.4.0
